*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather Sans';
}

html, body{
	
	height: 100%;
}

body{

	overflow-x: hidden;
}

img{
	width: 100%;
	max-width: 500px;
}

.center{
	max-width: 1280px;
	padding:0 2%;
	margin: 0 auto;
}

.w33{
	width: 33.3%;
}

.w50{
	width: 50%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

/**Estilos do site**/

header{
	background: #2e7d32;	
	padding: 10px 0;
}


header .logo{
	
	cursor: pointer;
}

.logo a{
	text-decoration: none;
	color: white;
}

.mobile{
	display: none;
}
nav.desktop ul{
	list-style-type: none;
}

nav.desktop li{
	padding: 40px 20px;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
}
nav.desktop a{
	color:white;
	text-decoration: none;

}

nav.desktop a:hover{
	text-decoration: underline;
}

section.banner-container{
	width: 100%;
	height: 600px;
	position: relative;
}

.banner-single{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;

}
.overlay{
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}

section.banner-container form{
	width: 93%;
	max-width: 600px;
	position: absolute;
	z-index: 3;
	top: 50%; 
	left: 50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

section.banner-container form h2{
	color: white;
	font-size: 30px;
	text-align: center;
}

section.banner-container form input[type=email]{
	width: 100%;
	height: 66px;
	margin-top: 10px;
	background: white;
	color: black;
	font-size: 22px;
	padding-left: 10px;
	border: 0;
}

section.banner-container form input[type=submit]{
	width: 100%;
	height: 66px;
	margin-top: 10px;
	background: #2e7d32;
	color: black;
	font-size: 22px;
	padding-left: 10px;
	cursor: pointer;
	border: 0;
}

.bullets{
	position: absolute;
	z-index: 5;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;

}

.active-slider{
	background: black !important;
}

.bullets span{
	display: inline-block;
	margin: 5px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	background: white;

}


section.informacoes{
	width: 100%;
	background: #2e7d32;
}

footer{
	background: #2e7d32;
	padding: 40px 0;
	text-align: center;
}

footer.fixed{
	position: fixed;
	bottom: 0;
	width: 100%;
}

section.erro-404{
	position: relative;
	min-height: 600px;s
	padding: 30 px;
}

section.contato{
	width: 100%;
	height: 600px;
	background-size: cover;
	position: relative;
}

section.contato form{
	width: 93%;
	max-width: 600px;
	position: absolute;
	z-index: 2;
	top: 50%; 
	left: 50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

section.contato form h2{

	color: black;
	font-size: 30px;
	text-align: center;

}

section.contato form input[type=nome]{
	width: 100%;
	height: 66px;
	margin-top: 10px;
	background: white;
	color: black;
	font-size: 22px;
	padding-left: 10px;
	border-width: 1px;
}
section.contato form input[type=sobrenome]{
	width: 100%;
	height: 66px;
	margin-top: 10px;
	background: white;
	color: black;
	font-size: 22px;
	padding-left: 10px;
	border-width: 1px;
}
section.contato form input[type=email]{
	width: 100%;
	height: 66px;
	margin-top: 10px;
	background: white;
	color: black;
	font-size: 22px;
	padding-left: 10px;
	border-width: 1px;
}
section.contato form textarea[name=mensagem]{
	width: 100%;
	height: 200px;
	margin-top: 10px;
	background: white;
	color: black;
	font-size: 22px;
	padding-left: 10px;
	border-width: 1px;
	max-width: 600px;
	resize: none;
}


section.contato form input[type=submit]{
	width: 100%;
	height: 66px;
	margin-top: 10px;
	background: #2e7d32;
	color: black;
	font-size: 22px;
	padding-left: 10px;
	cursor: pointer;
	border: 0;
}

#map{
	width: 100%;
	height: 400px;
}



@media screen and (max-width: 768px){
	img{
		float: none !important;
		display: block;
		margin:0 auto;
		max-width: 500px;
	}
	.w50{
		padding: 20px;
		width: 100%;
	}
}

@media screen and (max-width: 660px){
	nav.desktop{
		display: none;
	}
	nav.mobile{
		display: block;
	}
	.botao-mobile{
		padding: 40px 20px;
		font-size: 30px;
		cursor: pointer;
		color: white;
	}
	nav.mobile ul{
		top: 70px;
		z-index: 3;
		position: absolute;
		left: 0;
		display: none;
		text-align: center;
		width: 100%;
	}
	nav.mobile li{
		font-size: 15px;
		background-color:#2e7d32;
		border-style: solid; 
		border-width: 2px;
		padding: 8px 0;
		width: 100%;
	}
	nav.mobile li a{
		display: block;
		color: white;
		text-decoration: none;
	}
}